@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
    font-family: Roboto, "Fira Sans";
    font-size: 12pt;
}
h1, h2, h3, h4, h5 {
    color: var(--primary-color);
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.logo {
    display: block;
    height: 6rem;
    width: auto;
}
pre {
    display: block;
    font-family: "Fira Code", monospace;
    padding: 7px 10px;
    background-color: var(--quaternary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
}
code {
    display: inline-block;
    font-family: "Fira Code", monospace;
    font-size: 0.9em !important;
}
a, a:visited {
    color: var(--link-color);
}
a.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
a.btn-outline-primary:hover,
a.btn-outline-primary:focus {
    color: var(--primary-color);
    background-color: var(--link-color);
    border-color: var(--link-color);
}
a.btn-outline-primary.disabled {
    color: var(--link-color) !important;
    border-color: var(--link-color) !important;
}
main {
    margin-top: 3em;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: justify;
}
main.numbered-title    { counter-reset: h3counter; }
main.numbered-title h3 { counter-reset: h4counter; }
main.numbered-title h4 { counter-reset: h5counter; }
main.numbered-title h3::before {
    counter-increment: h3counter;
    content: counter(h3counter) ".";
    margin-right: 0.5rem;
}
main.numbered-title h4::before {
    counter-increment: h4counter;
    content: counter(h3counter) "." counter(h4counter) ".";
    margin-right: 0.5rem;
}
main.numbered-title h5::before {
    counter-increment: h5counter;
    content: counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".";
    margin-right: 0.5rem;
}
footer {
    margin-top: 5rem;
    font-size: 0.9em;
    color: var(--primary-color);
    text-align: center;
}

/* ================================================== */
/* Styles for the sidebar */
/* ================================================== */
/* sidebar inspired from https://getbootstrap.com/docs/5.0/examples/sidebars/ */
.sidebar {
    float: left;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
    padding-right: 3em;
    overflow-y: auto;
}

@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

.sidebar .logo {
    display: block;
    height: 8em;
    margin-bottom: 1em;
}
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: var(--paletteUrn-color5);
}
.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .1rem;
  margin-left: 2rem;
  text-decoration: none;
  color: var(--primary-color);
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  color: var(--paletteUrn-color5);
}