
main.container {
    width: 60%;
    padding: 1rem 2rem;
    border: solid 1px #dadada;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.384);
    background-color: #f8f8f8;
    margin-top: 4rem;
}
main.container h1 {
    margin-bottom: 4rem;
}
form .form-group {
    margin-bottom: 1rem;
}
form .form-group label {
    font-weight: bold;
    margin-right: 2rem;
}
form .form-group .btn {
    margin: 1rem 1rem 0 0;
}
.logo {
    display: block;
    float: right;
    width: 10rem;
    height: auto;
    margin-bottom: 1rem;
}